require 'configuration'

Configuration.for 'akari' do
  queue_path 'queue'
  queue_add_size 2
  queue_size 5
  extension 'jpg'
  max_string_length 45

  log {
    path 'log/activity.log'
    num_files 10
    max_size 1024000
  }

  twitter {
    consumer_key        ''
    consumer_secret     ''
    access_token        ''
    access_token_secret ''

    screen_name 'your_name'
    filtered %w{@ http:// https:// RT}
  }

  imagemagick {
    width      640
    height     480
    pointsize  42
    font       'fonts/rounded-mplus-1c-bold.ttf'
    akari_dir  'akari'
  }
end

